<div class="relative inline-block text-left">
    <!-- Dots button -->
    <button class="dots" (click)="toggle()" *ngIf="!isOpen">...</button>

    <!-- Dropdown menu -->
    <div *ngIf="isOpen" class="dropdown-dots d-flex flex-column">
        <button *ngFor="let a of actions" (click)="select(a.value)"
            [style]="a.value === 'delete' ? 'color: var(--contrast);' : ''">
            <div class="d-flex justify-content-left" style="gap: 10px;">
                <span *ngIf="a.icon" [innerHTML]="a.icon"></span>
                 {{ a.label }}
            </div>
        </button>
    </div>
</div>