<div class="dropdown" [class.dropdown--open]="isOpen">
  <button
    #triggerButton
    type="button"
    class="dropdown__trigger"
    (click)="onToggleClick()"
    (keydown)="onTriggerKeydown($event)"
    [attr.aria-expanded]="isOpen"
    aria-haspopup="true"
    [attr.aria-controls]="isOpen ? menuId : null"
  >
    <span class="sr-only">Apri il menu delle azioni</span>
    <span aria-hidden="true" class="dropdown__trigger-dots">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </button>

  <div
    class="dropdown__backdrop"
    *ngIf="isOpen"
    (click)="close(true)"
    aria-hidden="true"
  ></div>

  <div
    #menu
    *ngIf="isOpen"
    class="dropdown__menu"
    role="menu"
    [attr.id]="menuId"
  >
    <button
      #menuButton
      *ngFor="let a of actions; trackBy: trackByValue"
      type="button"
      class="dropdown__item"
      role="menuitem"
      (click)="select(a.value)"
      (keydown)="onItemKeydown($event, a.value)"
      [class.dropdown__item--danger]="a.value === 'delete'"
    >
      <span *ngIf="a.icon" class="dropdown__icon" [innerHTML]="a.icon"></span>
      <span class="dropdown__label">{{ a.label }}</span>
    </button>
  </div>
</div>
