@use '../../../style/variables.scss' as *;

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;

    form {
        position: relative;
        width: 100%;

        input {
            display: block;
            width: 100%;
            border: none;
        }
    }

    button {
        all: unset;
        background-color: $primary;
        border-radius: $border-radius;
        text-align: center;
        color: white;
        cursor: pointer;
        padding: 0.5em;
        width: 250px;
        display: block;
        box-sizing: border-box;
        transition: all 0.2s ease-in;

        &:hover {
            opacity: 0.7;
        }
    }

    .input-container {
        position: relative;

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }
    }
}


button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

#googleBtn {
    background-color: white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);

    img {
        width: auto;
        height: 1.5em;
        margin-right: 8px;
    }
}
a.register {
    cursor: pointer;
}