@use '../../../style/variables.scss' as *;

img {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
}

.stats-container,
.stats-header {
  margin: auto;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr repeat(6, 1fr);
  align-items: center;
}

.stats-header {
  padding: 0 1em;
  grid-template-columns: 0.5fr 0.5fr repeat(6, 1fr);
  text-align: center;
}

.stats-container {
  background: $dark;
  background: $gradient;
  padding: 0.5em 1em;

  &>img,
  div {
    text-align: center;
  }

  .win-rate {
  }

  .win-rate-bar {
    height: 0.3125em;
    opacity: 0.75;
  }

  .position {
    text-align: center;
  }
}

.position-1 {
  color: gold;
}

.position-3 {
  color: brown;
}

.head-to-head {
  margin: 0.5em;

  h2 {
    text-align: center;
    font-family: LarkenRegular;
  }

  .players-container {
    background: $gradient;
    padding: 1em;
    border-radius: var(--border-radius);
    position: relative;
  }

  .player {
    display: grid;
    place-items: center;

    .name {
      margin-top: 0.5em;
      text-align: center;
      font-weight: bold;
    }

    img {
      width: 4.0625em;
      height: 4.0625em;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}


.headtohead {
  display: grid;
  gap: 0.5rem;
  background: linear-gradient(180deg, #000 10%, #05131c 90%);
  padding: 1em;
  border-radius: $border-radius;
}

.players {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.players .player img {
  width: 3.75em;
  height: 3.75em;
  object-fit: cover;
  border-radius: 50%;
}

.players .name {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 0.25rem;
}

.players .score {
  font-size: 1.2rem;
  font-weight: bold;
}

.vs img {
  width: 2.5em;
  height: 2.5em;
}

.win-bar {
  display: grid;
  grid-template-columns: 3.125em 1fr 3.125em;
  align-items: center;
  gap: 0.5rem;
}

.bars {
  position: relative;
  height: 0.75em;
  display: flex;
}

.bar {
  height: 100%;
  background: $primary;
}

.bar.winner {
  background: $primary-light;
}

.percent {
  font-size: 0.8rem;
  text-align: center;
}

.winner-color {
  color: $primary-light;
  font-weight: bold;
}

.mini-info {
  display: none;
  position: absolute;
  top: -1.125em;
  left: 0.3125em;
  font-size: 0.625em;
  color: rgba(202, 202, 57, 0.905);
}

@media screen and (max-width: 37.5em) {
  .partite-tot {
    display: none;
  }

  .sconfitte {
    display: none;
  }

  .vittorie {
    display: none;
  }

  .stats-container,
  .stats-header {
    grid-template-columns: 0.5fr 0.5fr repeat(3, 1fr);
    gap: 1.25em;
  }

  .stats-header {
    display: none;
  }

  .player {
    .name {
      font-size: 0.75em;
      text-align: center;
    }
  }

  .mini-info {
    display: block;
  }
}