<!-- Toggle esempio (facoltativo) -->
<!-- CLASSIFICA -->
<div *ngFor="let player of standings; let i = index; trackBy: trackByPlayer" class="row align-items-center mt-2">
  <div class="col-auto"><i class="fa-solid fa-medal position-{{ i + 1 }}"></i></div>

  <div class="col d-flex align-items-center" [class.winner]="i === 0" [attr.id]="player.playerName">
    <div class="d-flex align-items-center flex-grow-1">
      <img [src]="'/' + player.playerName + '.png'" [alt]="player.playerName" />
      <div class="name">{{ player.playerName }}</div>
    </div>

    <div class="vittorie" title="Vittorie">{{ player.wins }}</div>
    <div class="sconfitte" title="Sconfitte">{{ player.lost }}</div>
    <div class="partite-tot" title="Partite totali giocate">{{ player.totalPlayed }}</div>

    <div class="win-rate" title="Punteggio per percentuale vittorie / partite giocate">
      <div class="rate-label">{{ winRateLabel(player.winRate) }}</div>
      <div class="win-rate-bar"
           [style.width.%]="barWidthPct(player.winRate)"
           [style.background-color]="barColor(player.winRate)">
      </div>
    </div>
  </div>
</div>

<!-- SCONTRI DIRETTI -->
<h2 class="mb-3 mt-4">Scontri diretti</h2>
<div *ngFor="let hh of headToHeadData" class="players-container mt-2">
  <div class="row">
    <div class="player col-5">
      <div class="image">
        <img [src]="'/' + hh.player1 + '.png'" [alt]="hh.player1" />
        <div class="name">{{ hh.player1 }}</div>
      </div>
      <div class="score text-center" [class.winner-color]="hh.scored1 > hh.scored2">{{ hh.scored1 }}</div>
    </div>

    <div class="col-2 d-flex justify-content-center align-items-center">
      <img width="50" class="m-auto" src="/vs.svg" alt="VS" />
    </div>

    <div class="player opp col-5">
      <div class="image">
        <img [src]="'/' + hh.player2 + '.png'" [alt]="hh.player2" />
        <div class="name">{{ hh.player2 }}</div>
      </div>
      <div class="score text-center" [class.winner-color]="hh.scored2 > hh.scored1">{{ hh.scored2 }}</div>
    </div>
  </div>

  <div class="win-bar-container d-flex align-items-center m-3">
    <ng-container
      *ngIf="(hh.scored1 + hh.scored2) as tot; else zero">
      <span class="col-2 percent1" [class.winner-color]="hh.scored1>hh.scored2">
        {{ (hh.scored1 * 100 / tot) }}%
      </span>
      <div class="d-flex justify-content-around flex-grow-1">
        <div class="col-4 win-bar player1"
             [class.winner]="hh.scored1>hh.scored2"
             [style.width.%]="(hh.scored1 * 100 / tot)">
        </div>
        <div class="col-4 win-bar player2"
             [class.winner]="hh.scored2>hh.scored1"
             [style.width.%]="(hh.scored2 * 100 / tot)">
        </div>
      </div>
      <span class="col-2 percent2" [class.winner-color]="hh.scored2>hh.scored1">
        {{ (hh.scored2 * 100 / tot) }}%
      </span>
    </ng-container>
    <ng-template #zero>
      <span class="text-muted">Nessun dato</span>
    </ng-template>
  </div>
</div>
