<!-- Toggle esempio (facoltativo) -->
<!-- CLASSIFICA -->
<h2 class="mb-3 mt-4">Classifica</h2>
<div class="stats-header my-container ">
  <div class="position">Rank</div>
  <div class="image"></div>
  <div></div>
  <div class="partite-tot" title="Partite totali giocate">Partite Tot.</div>
  <div class="vittorie" title="Vittorie">Vittorie</div>
  <div class="sconfitte" title="Sconfitte">Sconfitte</div>
  <div class="win-rate" title="Punteggio per percentuale vittorie / partite giocate">Rating</div>
  <div class="win-rate" title="Punteggio per percentuale vittorie / partite giocate">Win Rate</div>

</div>
<div *ngFor="let player of standings; let i = index; trackBy: trackByPlayer" class="stats-container mt-2 my-container ">
  <div><i *ngIf="i < 3" class="fa-solid fa-medal position-{{ i + 1 }}"></i> {{i+1}}</div>
  <img [src]="player.image_url" [alt]="player.playerName" />
  <div class="name">{{ player.playerName }}</div>
  <div class="partite-tot" title="Partite totali giocate">{{ player.totalPlayed }}</div>
  <div class="vittorie" title="Vittorie">{{ player.wins }}</div>
  <div class="sconfitte" title="Sconfitte">{{ player.lost }}</div>
  <div class="partite-rating" title="Rating ELO">{{ (player.rating)?.toFixed(1) }}</div>
  <div class="win-rate" title="Punteggio per percentuale vittorie / partite giocate">
    <div class="rate-label">{{ winRateLabel(player.winRate) }}</div>
    <div class="win-rate-bar" [style.width.%]="barWidthPct(player.winRate)"
      [style.background-color]="barColor(player.winRate)">
    </div>
  </div>


</div>

<section class="mt-5">
  <!-- SCONTRI DIRETTI -->
  <h2 class="mb-3 mt-4">Scontri set diretti</h2>

  <div *ngFor="let row of (headToHead$ | async)" class="headtohead my-container">
    <div class="players">
      <div class="player">
        <img [src]="row.player1_img || 'default-player.jpg'" [alt]="row.player1" />
        <div class="name">{{ row.player1 }}</div>
        <div class="score" [class.winner-color]="row.scored1 > row.scored2">
          {{ row.scored1 }}
        </div>
      </div>

      <div class="vs">
        <img src="/vs.svg" alt="VS" />
      </div>

      <div class="player">
        <img [src]="row.player2_img || 'default-player.jpg'" [alt]="row.player2" />
        <div class="name">{{ row.player2 }}</div>
        <div class="score" [class.winner-color]="row.scored2 > row.scored1">
          {{ row.scored2 }}
        </div>
      </div>
    </div>

    <div class="win-bar">
      <ng-container *ngIf="(row.scored1 + row.scored2) as tot; else zero">
        <div class="percent" [class.winner-color]="row.scored1 > row.scored2">
          {{ (row.scored1 * 100 / tot).toFixed(1) }}%
        </div>

        <div class="bars">
          <div class="bar player1" [class.winner]="row.scored1 > row.scored2"
            [style.width.%]="(row.scored1 * 100 / tot)"></div>
          <div class="bar player2" [class.winner]="row.scored2 > row.scored1"
            [style.width.%]="(row.scored2 * 100 / tot)"></div>
        </div>

        <div class="percent" [class.winner-color]="row.scored2 > row.scored1">
          {{ (row.scored2 * 100 / tot).toFixed(1) }}%
        </div>
      </ng-container>

      <ng-template #zero>
        <div class="no-data">Nessun dato</div>
      </ng-template>
    </div>
  </div>
</section>