@use '../../../style/variables' as *;
.join {
    p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    input {
        text-align: center;
        width: 14.375em;
        margin-top: 1em;
    }

    button {
        text-align: center;
        width: 12.5em;
        background-color: $secondary!important;
    }
    .where {
        cursor: pointer;
        text-decoration: underline;
        opacity: 0.9;
    }
}
input::placeholder {
    opacity: 0.4;
}