<div class="modal-content join">
    <form class="form-dark">
        <h2>{{ 'join_competition' | translate }}</h2>
        <p [innerHTML]=" 'join_competition_description' | translate "></p>
        <section>
            <div class="d-flex flex-column align-items-center">
                <input id="competitionId" [placeholder]="'ex. ABC123' | translate" type="text"
                    [(ngModel)]="competitionCode" name="competitionCode" required>
                <div class="">
                    <button type="button" (click)="onSubmit()" style="height: 40px;">
                        {{ 'join_cta2' | translate }}
                    </button>
                </div>
            </div>
        </section>
    </form>
    <small class="info d-block m-auto ">
        <div class="where" (click)="onWhereClick()">
            {{ 'where' | translate}}
            <i class="fa" [class]="showInstructions? 'fa-chevron-up' : 'fa-chevron-down'" aria-hidden="true"></i>
        </div>
    </small>
    <div class="instructions" *ngIf="showInstructions">
        <p class="mt-3">
            {{ 'join_competition_instructions' | translate }}
            <img src="/code.png" alt="" style="opacity: 0.75;">
        </p>
    </div>
</div>