@use "./../../../style/variables.scss" as *;

.dettagli-partita {
  .match-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr; // Two players with a center VS image
    align-items: center;
    justify-items: center;
    gap: 1rem; // Adjust the gap between columns as needed
    padding: 1rem;
    border-radius: var(--border-radius);
    color: white;
    margin-bottom: 1em;

    .player {
      display: grid;
      grid-template-rows: auto auto; // Image on top, text on bottom
      justify-items: center;
      align-items: center;
      text-align: center;

      .p-3 {
        padding: 1rem;

      }

      .text-center {
        font-size: 0.875rem;
        font-weight: bold;
      }
    }

    .score {
      color: $light;
      font-size: 1.5em;
      font-weight: 900;
    }
  }

  img {
    height: 100%;
    border-radius: 31.25em;
    object-fit: cover;
    width: 5em;
    height: 5em;

    &.logo {
      width: 3.125em;
      height: 3.125em;
    }
  }

  .set {
    display: grid;
    grid-template-columns: auto 5em auto;
    margin-bottom: 0.5em;
    border-radius: $border-radius;
    position: relative;
    align-items: center;

    div {
      text-align: center;
      padding: 0.5em;
    }

    .separator {
      font-weight: 100;
      color: $primary;
      font-size: 0.75em;
    }

    .n-set {
      color: white;
      transform: scale(0.8) translateX(0.3125em);
      font-weight: 100;
      font-style: italic;
      position: absolute;
      font-size: 0.5625em;
    }
  }

  .sets-points {
    text-align: center;

    .won {
      color: $primary-light;
      font-weight: bold;
    }
  }



  .data {
    font-size: 0.75em;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    opacity: 0.7;
    position: relative;
    bottom: 0.625em;
  }

  .score.won {
    color: $primary-light!important;
    font-weight: bold;
  }
}



@media screen and (max-width:31.25em) {
  .dettagli-partita {
    .match-container {
      img {
        width: 3.125em;
        height: 3.125em;
      }
    }
  }
}