<div class="modal-container">
  <h2>{{ "edit" | translate }}</h2>

  <form [formGroup]="competitionForm" class="form-dark p-1" (ngSubmit)="saveCompetition()">
    <div class="form-group p-5">
      <label>{{ "name" | translate }}</label>
      <input formControlName="name" />
    </div>

    <div class="buttons d-flex justify-content-center gap-3 mb-3">
      <button type="submit" class="button-primary-ping">
        {{ "save" | translate }}
      </button>
      <button type="button" (click)="modalService.closeModal()">
        {{ "cancel" | translate }}
      </button>
    </div>
  </form>
</div>