<app-registration-navbar></app-registration-navbar>
<div class="register-wrapper">
</div>
<div class="register-container">
    <h2>{{"register_title"| translate}}</h2>
    <form class="form-dark" [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <div class="input-container">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
              <input id="email" type="email" formControlName="email" [placeholder]="'enter_email' | translate" required>
        </div>

        <div class="input-container">
            <i class="fa fa-key" aria-hidden="true"></i>
              <input id="password" type="password" formControlName="password" [placeholder]="'enter_password' | translate" required>
        </div>
        <div class="input-container">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              <input id="passwordConfirm" type="password" formControlName="confirmPassword"
                  [placeholder]="'confirm_password' | translate" required>
        </div>


        <div class="mt-4 text-center">
            <button type="submit" [disabled]="registerForm.invalid">{{"register_title" | translate}}</button>
            <button id="googleBtn" (click)="googleSignIn()" class="mt-4"><img src="/google.png">
                {{"register_google" | translate}}
            </button>
        </div>
    </form>
</div>