@use '../../../style/variables.scss' as *;

.register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;

    form {
        position: relative;
        width: 100%;

        input {
            display: block;
            width: 100%;
            background: white;
            border: none;
        }
    }
    .input-container {
        position: relative;
        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }
    }
    button {
        all: unset;
        background-color: $primary;
        border-radius: $border-radius;
        text-align: center;
        color: white;
        cursor: pointer;
        padding: 0.5em;
        width: 250px;
        display: block;
        box-sizing: border-box;
        transition: all 0.2s ease-in;
        &:hover {
            filter: brightness(1.5);
        }
    }
}

.register-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('/bg.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.1;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

#googleBtn {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    img {
        width: auto;
        height: 1.5em;
        margin-right: 8px;
    }
}