@use '../../../style/variables.scss' as *;

.register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15.625em;

    form {
        position: relative;
        width: 100%;

        input {
            display: block;
            width: 100%;
            border: none;
        }
    }

    .input-container {
        position: relative;

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0.625em;
        }
    }

    button {
        all: unset;
        background-color: $primary;
        border-radius: $border-radius;
        text-align: center;
        color: white;
        cursor: pointer;
        padding: 0.5em;
        width: 15.625em;
        display: block;
        box-sizing: border-box;
        transition: all 0.2s ease-in;

        &:hover {
            opacity: 0.7;
        }
    }
}



button {
    width: 100%;
    padding: 0.625em;
    font-size: 1em;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

#googleBtn {
    background-color: white;
    border: 0.125em solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);

    img {
        width: auto;
        height: 1.5em;
        margin-right: 0.5em;
    }
}