@use '../../../../style/variables.scss' as *;
.other-competitions-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    width: 100%;
}
.others {
    margin-top: 1.5rem;
    max-width: 37.5em;
    margin: auto;
    padding: 0;
    h3 {
        font-size: 1rem;
        opacity: 0.8;
        margin-bottom: .75rem;
    }

    .comp {
        background: $dark2;
        border-radius: $border-radius;
        padding: .75rem;
        color: $primary-ultra-light;
        font-size: .9rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1em;
        &:hover {
            background: $dark;
        }

        .players-list {
            margin-top: .5rem;
            display: flex;
            gap: 0;
            background-color: black;
            padding: 0.25em;
            margin: 0.25em;
            border-radius: $border-radius;
            overflow-x: auto;
            max-width: 10rem;
            .avatar {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                object-fit: cover;
                margin: -3px;
                padding: 0;
            }
        }

        .menu-trigger {
            background: none;
            border: 0;
            color: $primary-light;
            font-size: 1.1rem;
            cursor: pointer;
        }
    }
}