@use '../../../../style/variables.scss' as *;

.fullscreen {
    .close {
        all: unset;
        cursor: pointer;
        background: black;
        position: absolute;
        border-radius: 5px;
        padding: 1em;
        top: 1em;
        right: 1em;
        background-color: $contrast;
        margin: 1em;
    }

    width: 100vw;
    height: 100svh;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-points {
        padding: 5em;
        display: grid;
        width: 100%;
        height: 100%;
        place-items: center;
        gap: 2.5em;

        // 👇 layout di default (desktop) = verticale
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

    }

    &.mobile {
        .container-points {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .close {
            left: 0;
            right: unset;
        }
        span {
            display: inline-block;
            transform: rotate(-90deg);
        }
    }

    .box {
        all: unset;
        background-color: $secondary;
        border-radius: 1.25em;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        font-size: 8em;
    }

    .box2 {
        background-color: $primary;
    }
}