<div class="manual-points" [ngClass]="{ mobile: isMobile, desktop: !isMobile }">
    <ng-container *ngIf="!selectingPlayer && !isCompleted()">
        <div class="sets-container">
            {{player1SetsPoints}} - {{player2SetsPoints}}
        </div>
        <div class="microphone-container text-center">
            <app-voice-score (scoreChanged)="onScoreChanged($event)"></app-voice-score>
        </div>
        <div class="container-points">
            <div #effectLeft class="points box box1">
                <button class="tap" (click)="changePoint(1)">
                    <span class="big-point">{{player1Points}}</span>
                    <div class="player-indicator left">
                        <img [src]="player1?.image_url || './default-player.jpg'" alt="">
                        <div> {{ player1?.nickname }}</div>
                    </div>
                </button>
                <button class="minus" (click)="subtractPoint(1)"><i class="fa-solid fa-minus"></i></button>
            </div>
            <div #effectRight class="points box box2">
                <button class="tap" (click)="changePoint(2)">
                    <span class="big-point">{{player2Points}}</span>
                    <div class="player-indicator right">
                        <img [src]="player2?.image_url || './default-player.jpg'" alt="">
                        <div> {{ player2?.nickname }}</div>
                    </div>
                </button>
                <button class="minus" (click)="subtractPoint(2)"><i class="fa-solid fa-minus"></i></button>
            </div>
        </div>

        <div class="actions">
            <button type="button" *ngIf="!isCompleted()" class="bg-primary" (click)="onSave()"
                [disabled]="isPointsError(player1Points, player2Points, maxPoints)">
                {{'save_points' | translate}}
            </button>

            <button type="button" class="reset" (click)="onReset()">
                {{'reset_points' | translate}}
            </button>
        </div>
    </ng-container>

    <div *ngIf="selectingPlayer && !isCompleted()" class="container my-4">
        <form class="form-dark" [formGroup]="playersForm">
            <p class="text-center mb-4">
                {{ 'manual_points_description' | translate }}
            </p>

            <div class="row justify-content-center mb-4">
                <div class="col-12 col-md-6">
                    <label for="manual-match-date" class="my-placeholder d-block text-center text-md-start mb-2">
                        {{ 'date' | translate }}
                    </label>
                    <input id="manual-match-date" type="date" class="my-placeholder w-100" formControlName="date"
                        required>
                </div>
            </div>

            <div class="row align-items-center justify-content-center">
                <!-- Player 1 -->
                <div class="col-12 col-md-5 mb-3 mb-md-0">
                    <app-select-player [players]="getPlayers(1)" [playerNumber]="'1'" [initialPlayer]="player1"
                        (playerSelected)="setPlayer($event)">
                    </app-select-player>
                </div>

                <!-- VS -->
                <div class="col-12 col-md-2 text-center mb-3 mb-md-0 fw-bold">
                    {{ 'vs' | translate }}
                </div>

                <!-- Player 2 -->
                <div class="col-12 col-md-5">
                    <app-select-player [players]="getPlayers(2)" [playerNumber]="'2'" [initialPlayer]="player2"
                        (playerSelected)="setPlayer($event)">
                    </app-select-player>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-4">
                <button type="button" class="btn btn-primary px-4 position-relative" (click)="onContinue()"
                    [disabled]="playersForm.invalid">
                    {{ 'continue' | translate }}
                </button>
            </div>
        </form>
    </div>

    <div *ngIf="isCompleted()">
        <p class="text-center" *ngIf="matchDate">
            {{ 'date' | translate }}:
            {{ matchDate | date: 'dd/MM/yyyy' }}
        </p>
        <div class="summary mt-5" *ngIf="sets.length > 0">
            <h3>{{ 'match_summary' | translate }}</h3>
            <ul>
                <li *ngFor="let set of sets; let i = index">
                    <span>Set {{ i + 1 }}</span>
                    <span>{{ set.player1 }} - {{ set.player2 }}</span>
                </li>
                <li class="total">
                    <span>Total</span>
                    <span>{{ player1SetsPoints }} - {{ player2SetsPoints }}</span>
                </li>
            </ul>
        </div>
        <div class="actions mt-5">
            <button type="button" class="secondary" (click)="saveMatch($event.target)">
                {{'completed_match_save' | translate}}
            </button>
        </div>
    </div>
</div>