<div class="fullscreen" [ngClass]="{ mobile: isMobile, desktop: !isMobile }">
    <button class="close" (click)="close.emit()">
        <i class="fa-solid fa-xmark"></i>
    </button>
    <ng-container *ngIf="!selectingPlayer">
        <div class="sets-container">
            {{ "sets" | translate }}: {{player1SetsPoints}} - {{player2SetsPoints}}
        </div>
        <div class="microphone-container text-center">
            <app-voice-score (scoreChanged)="onScoreChanged($event)"></app-voice-score>
        </div>
        <div class="container-points">
            <div #effectLeft class="points box box1">
                <button class="tap" (click)="changePoint(1)">
                    <span>{{player1Points}}</span>
                    <div class="player-indicator left">
                        <img [src]="player1?.image_url || './default-player.jpg'" alt="">
                        <div> {{ player1?.nickname }}</div>
                    </div>
                </button>
                <button class="minus" (click)="subtractPoint(1)"><i class="fa-solid fa-minus"></i></button>
            </div>
            <div #effectRight class="points box box2">
                <button class="tap" (click)="changePoint(2)">
                    <span>{{player2Points}}</span>
                    <div class="player-indicator right">
                        <img [src]="player2?.image_url || './default-player.jpg'" alt="">
                        <div> {{ player2?.nickname }}</div>
                    </div>
                </button>
                <button class="minus" (click)="subtractPoint(2)"><i class="fa-solid fa-minus"></i></button>
            </div>
        </div>

        <div class="actions">
            <button type="button" class="bg-primary" (click)="onSave()"
                [disabled]="isPointsError(player1Points, player2Points, maxPoints)">
                {{'save' | translate}}
            </button>
            <button type="button" class="reset" (click)="onReset()">
                {{'reset_points' | translate}}
            </button>
        </div>
    </ng-container>

    <div *ngIf="selectingPlayer" class="select-players-container">
        <form action="" class="form-dark manual-points" [formGroup]="playersForm">
            <h2>{{'manual_points' | translate}}</h2>
            <p class="text-center">{{'manual_points_description' | translate}}</p>
            <div class="players-container-form">
                <div class="player left">
                    <app-select-player [players]="getPlayers(1)" [playerNumber]="'1'"
                        (playerSelected)="setPlayer($event)">
                    </app-select-player>
                </div>
                <div class="m-3 text-center">{{'vs' | translate}}</div>
                <div class="player right">
                    <app-select-player [players]="getPlayers(2)" [playerNumber]="'2'"
                        (playerSelected)="setPlayer($event)">
                    </app-select-player>
                </div>
            </div>
            <div class="button-container">
                <button type="button" class="bg-primary position-relative ps-3 pe-3" (click)="onContinue()"
                    [disabled]="playersForm.invalid">
                    {{'continue' | translate}}
                </button>
            </div>
        </form>
    </div>
</div>