@use '../../../../style/variables.scss' as *;

.fullscreen {
    .close {
        cursor: pointer;
        background: black;
        position: absolute;
        border-radius: 5px;
        padding: 1em;
        top: 1em;
        right: 1em;
        background-color: $contrast;
        margin: 1em;
    }

    width: 100vw;
    height: 100svh;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: black;

    .container-points {
        padding: 5em;
        display: grid;
        width: 100%;
        height: 100%;
        place-items: center;
        gap: 2.5em;

        // 👇 layout di default (desktop) = verticale
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    &.mobile {
        .container-points {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .close {
            left: 0;
            right: unset;
        }

        span {
            display: inline-block;
            transform: rotate(-90deg) scale(2.5);
        }
    }

    .box {
        background-color: $secondary;
        border-radius: $border-radius;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        span {
            font-size: 25vw;
        }

        display: grid;
        grid-template-columns: 1fr;

        button.tap {
            text-align: center;
            display: block;
            height: 100%;
            width: 100%;
            span {
                position: relative;
                z-index: 500;
            }
        }
    }

    .box2 {
        background-color: $primary;
    }
}

button {
    border: none;
    background-color: unset;
}
 .players-container {
    position: absolute;
    bottom: 0;

    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: flex-end;
    padding: 0 2em;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;

    .player {
        filter: drop-shadow(0px 0px 30px black);
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
        img {
            border-radius: 100%;
            width: 175px;
            height: 175px;
        }
    }
}

.minus {
    position: absolute;
    bottom: 15%;
    background-color: $contrast;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.players-container-form {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: flex-end;
    padding: 0 6em;
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 0px 0px 5px black;

    .player {
        filter: drop-shadow(0px 0px 30px black);
        &.left {
            text-align: left;
        }
        &.right {
            text-align: right;
        }
        img {
            border-radius: 100%;
            width: 175px;
            height: 175px;
        }
    }
}

@media screen and (orientation: portrait) {
    .fullscreen {
        .box {
            span {
                font-size: 15vw;
            }
        }
    }
}