<section class="matches" *ngIf="getMatchesToRender().length; else noMatches">
  <h4 class="title text-center">{{ 'matches' | translate }}</h4>

  <div class="slider swiper matches__slider" #swiperEl>
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let match of getMatchesToRender(); trackBy: trackByIndex">
        <!-- Shared match-card keeps league cards aligned with bracket variant -->
        <app-match-card
          variant="standard"
          [cardId]="match.id"
          [clickable]="!readonly"
          [headerLabel]="match?.created | date: 'dd/MM/yyyy HH:mm'"
          [players]="mapMatchToPlayers(match)"
          (cardClick)="onMatchClick(match.id)"
        ></app-match-card>
      </div>
    </div>
  </div>
</section>

<ng-template #noMatches>
  <h4 class="title text-center">{{ 'matches' | translate }}</h4>
  <p class="no-matches">{{ 'no_matches' | translate }}</p>
</ng-template>
