<!-- Shared match-card template keeps league, upcoming, and bracket views consistent after the refactor. -->
<article class="match-card" [ngClass]="{
    'match-card--clickable': clickable,
    'match-card--bracket': variant === 'bracket',
    'match-card--readonly': readonly && variant === 'bracket'
  }" [attr.id]="cardId ?? null" (click)="onCardClick()">
  <ng-container [ngSwitch]="variant">
    <ng-container *ngSwitchCase="'bracket'">
      <div class="match-card__date" *ngIf="bracketDate; else bracketDatePlaceholder">
        <span>{{ bracketDate | date: 'd/M/yyyy' }}</span>
      </div>
      <ng-template #bracketDatePlaceholder>
        <div class="match-card__date" *ngIf="readonly && bracketDateFallback">
          <span>{{ bracketDateFallback }}</span>
        </div>
        <div class="match-card__set-date" *ngIf="!readonly && setDateAction as action">
          <span>{{ 'date_to_be_determined' | translate }}</span>
        </div>
      </ng-template>

      <div class="match-card__players" *ngIf="players?.length; else emptySlots">
        <div class="match-card__slot" *ngFor="let slot of players; let i = index; trackBy: trackByIndex"
          [class.winner]="isWinner(slot)">
          <img class="match-card__avatar" [src]="slot.avatarUrl || defaultAvatar" alt=""
            (error)="handleImageError($event)" />

          <ng-container [ngSwitch]="slot.state">
            <span class="match-card__player" *ngSwitchCase="'player'">{{ resolveDisplayName(slot) }}</span>
            <span class="match-card__player match-card__player--waiting" *ngSwitchCase="'waiting'">
              {{ slot.waitingLabel }}
            </span>
            <ng-container *ngSwitchDefault>
              <ng-container *ngIf="slot.state === 'empty' && !readonly && isFirstRound; else slotActionButton">
                <button type="button" class="match-card__add-player tertiary"
                  (click)="openAddPlayerModal(match, i, $event)" [attr.aria-label]="'add_player' | translate">
                  <i class="fa fa-user-plus" aria-hidden="true"></i>
                </button>
              </ng-container>
              <ng-template #slotActionButton>
                <ng-container *ngIf="isFirstRound">
                  <button type="button" class="match-card__add-player tertiary" *ngIf="slot.action as slotAction"
                    (click)="onAction(slotAction, $event)" [disabled]="slotAction.disabled"
                    [attr.title]="slotAction.tooltip ?? slotAction.label ?? ''" [ngClass]="slotAction.cssClass">
                    <span class="match-card__icon" *ngIf="slotAction.icon" [innerHTML]="slotAction.icon"></span>
                    <span *ngIf="slotAction.label">{{ slotAction.label }}</span>
                  </button>
                </ng-container>
              </ng-template>
            </ng-container>
          </ng-container>

          <span class="match-card__score" *ngIf="shouldShowScore(slot); else noScore">
            {{ slot.score }}
          </span>
          <ng-template #noScore>
            <span class="match-card__score match-card__score--null"> - </span>
          </ng-template>
        </div>
      </div>
      <ng-template #emptySlots>
        <div class="match-card__players">
          <div class="match-card__slot" *ngFor="let _ of [1,2]"></div>
        </div>
      </ng-template>

      <div class="match-card__actions" *ngIf="hasActions()">
        <button type="button" *ngFor="let action of actions; trackBy: trackByAction" (click)="onAction(action, $event)"
          [disabled]="action.disabled" class="tertiary" [attr.aria-label]="action.ariaLabel ?? action.label ?? ''"
          [attr.title]="action.tooltip ?? action.label ?? ''">
          <span class="match-card__icon" *ngIf="action.icon" [innerHTML]="action.icon"></span>
          <span *ngIf="action.label">{{ action.label }}</span>
        </button>
      </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <header class="match-card__header" *ngIf="headerLabel || subHeaderLabel">
        <span class="match-card__meta" *ngIf="headerLabel">{{ headerLabel }}</span>
        <span class="match-card__subheader" *ngIf="subHeaderLabel">{{ subHeaderLabel }}</span>
      </header>

      <div class="match-card__players" [ngClass]="{ 'show-versus': showVersus }">
        <div *ngIf="getPlayer(0)" class="match-card__player" [class.winner]="isWinner(getPlayer(0))">
          <img class="match-card__avatar" [src]="getPlayer(0)?.avatarUrl || defaultAvatar" alt=""
            (error)="handleImageError($event)" />
          <span class="match-card__name">{{ resolveDisplayName(getPlayer(0)) }}</span>
        </div>

        <span class="match-card__vs" *ngIf="!showScore && showVersus">{{ versusLabel }}</span>

        <div *ngIf="getPlayer(1)" class="match-card__player" [class.winner]="isWinner(getPlayer(1))">
          <img class="match-card__avatar" [src]="getPlayer(1)?.avatarUrl || defaultAvatar" alt=""
            (error)="handleImageError($event)" />
          <span class="match-card__name">{{ resolveDisplayName(getPlayer(1)) }}</span>
        </div>

        <div class="match-card__score" *ngIf="showScore; else nullScore">
          <span class="score-value" [class.win]="isWinner(getPlayer(0))">
            {{ getScoreValue(0) }}
          </span>
          <span class="score-separator">:</span>
          <span class="score-value" [class.win]="isWinner(getPlayer(1))">
            {{ getScoreValue(1) }}
          </span>
        </div>
        <ng-template #nullScore>
          <div class="match-card__score match-card__score--null">
            <span class="score-placeholder"> -- </span>
          </div>
        </ng-template>
      </div>

      <footer class="match-card__footer" *ngIf="schedule || footerLabel">
        <span class="match-card__footer-text" *ngIf="footerLabel">{{ footerLabel }}</span>
        <ng-container *ngIf="schedule">
          <ng-container *ngIf="!readonly">
            <label class="match-card__time" *ngIf="schedule.date; else scheduleFallback">
              <i [class]="schedule.iconClass || 'fa fa-clock-o'" aria-hidden="true"></i>
              {{ formatLocalDateTime(schedule.date) }}
              <button type="button" class="edit" (click)="onEditSchedule($event)"><i class="fa fa-pencil"></i></button>
            </label>
          </ng-container>
          <ng-template #scheduleFallback>
            <ng-container *ngIf="scheduleHasFallback()">
              <div class="match-card__time-label" *ngIf="schedule.fallbackLabel">
                <i [class]="schedule.iconClass || 'fa fa-clock-o'" aria-hidden="true"></i>
                {{ schedule.fallbackLabel }}
              </div>
              <div class="match-card__time match-card__time--fallback">
                <ng-container *ngIf="getScheduleActions() as scheduleActions">
                  <div class="match-card__actions" *ngIf="scheduleActions.length || schedule.action">
                    <ng-container *ngIf="scheduleActions.length; else singleScheduleAction">
                      <button *ngFor="let scheduleAction of scheduleActions; trackBy: trackByAction" type="button"
                        class="btn btn-sm" [ngClass]="scheduleAction.cssClass" [disabled]="scheduleAction.disabled"
                        [attr.aria-label]="scheduleAction.ariaLabel ?? scheduleAction.label ?? ''"
                        [attr.title]="scheduleAction.tooltip ?? scheduleAction.label ?? ''"
                        (click)="onAction(scheduleAction, $event)">
                        <span class="match-card__icon" *ngIf="scheduleAction.icon"
                          [innerHTML]="scheduleAction.icon"></span>
                        <span *ngIf="scheduleAction.label">{{ scheduleAction.label }}</span>
                      </button>
                    </ng-container>
                    <ng-template #singleScheduleAction>
                      <button *ngIf="schedule.action as scheduleAction" type="button" class="btn btn-sm"
                        [ngClass]="scheduleAction.cssClass" [disabled]="scheduleAction.disabled"
                        [attr.aria-label]="scheduleAction.ariaLabel ?? scheduleAction.label ?? ''"
                        [attr.title]="scheduleAction.tooltip ?? scheduleAction.label ?? ''"
                        (click)="onAction(scheduleAction, $event)">
                        <span class="match-card__icon" *ngIf="scheduleAction.icon"
                          [innerHTML]="scheduleAction.icon"></span>
                        <span *ngIf="scheduleAction.label">{{ scheduleAction.label }}</span>
                      </button>
                    </ng-template>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </ng-template>
        </ng-container>
      </footer>
    </ng-container>
  </ng-container>
</article>