<div *ngIf="isLoading" class="loader">
  <div class="loading-text">{{"loading" | translate}}.</div>
  <img src="/ping-pong.gif" alt="{{ 'loader_alt' | translate }}">
</div>

<div *ngIf="toastMessage" class="ping-toast" [ngClass]="toastClass">
  <div><i class="fa-solid" [ngClass]="toastIcon"></i></div>
  <div [innerHTML]="toastMessage | translate"></div>
  <button class="close-toast" (click)="closeToast()"><i class="fa-solid fa-close"></i></button>
</div>

<div *ngIf="isSmallLoading" class="loader-small">
  <div class="d-flex ms-3 align-items-center" style="gap: 5px; min-height: 40px;">
    <div class="ping-ball a"></div>
    <div class="ping-ball b"></div>
    <div class="ping-ball c"></div>
  </div>
</div>