<div *ngIf="isLoading" class="loader">
    <div>Caricamento...</div>
    <img src="/ping-pong.gif" alt="Loader">
  </div>
  
  <div *ngIf="toastMessage" class="ping-toast" [ngClass]="toastClass">
    <div><i class="fa-solid" [ngClass]="toastIcon"></i></div>
    <div>{{ toastMessage }}</div>
    <button class="close-toast" (click)="closeToast()"><i class="fa-solid fa-close"></i></button>
  </div>
  
  <div *ngIf="isSmallLoading" class="loader-small">
    <img src="./loading_small.gif" alt="Small Loader">
  </div>