<div class="wrapper">
    <ng-container *ngIf="userState$ | async as state">
        <h2>
            {{"complete_profile" | translate}}
        </h2>
        <ng-template #noComp>{{ 'no_competition' | translate }}</ng-template>
        <section>
            <p class="instructions" *ngIf="state?.state ===  PROGRESS_STATE.PROFILE_NOT_COMPLETED">
                {{ "paragraph_complete" | translate}}
            </p>
            <form [formGroup]="form" class="form-dark">

                <div class="d-flex justify-content-center align-items-center mt-5" style="gap: 1em;">
                    <div class="upload-container">
                        <label for="file-upload" class="custom-file-upload">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                              <img [src]="previewUrl || '/default-player.jpg'" alt="{{ 'avatar_alt' | translate }}" />
                            <input id="file-upload" type="file" accept="image/*" (change)="onFileSelected($event)" />
                        </label>
                    </div>

                    <div class="text-center mt-3">
                        <label class="field">
                            <span class="label">{{ 'nickname_label' | translate }}</span>
                            <input class="input" type="text" [placeholder]="'nickname' | translate"
                                formControlName="nickname" autocomplete="off" />
                            <small class="error" *ngIf="form.get('nickname')?.invalid">
                                {{ 'nickname_error' | translate }}
                            </small>
                        </label>
                    </div>
                </div>

                <div class="button-container">
                    <button class="primary mt-3" (click)="saveProfile($event)" [disabled]="form.invalid">
                        {{ 'continue' | translate }}
                    </button>
                </div>
            </form>
        </section>
    </ng-container>
</div>