<!-- wrapper che chiude il menu cliccando fuori -->
<div class="custom-select" (click)="closeDropdown()">
    <label>{{ "Player" | translate }} {{ playerNumber }}</label>

    <!-- Fake input field -->
    <div class="input-field position-relative" style="text-align: left;" (click)="toggleDropdown($event)" [class.open]="showDropdown">
        <span *ngIf="!selectedPlayer && players?.length === 0" class="my-placeholder">
            {{"loading" | translate}}...
        </span>
        <span *ngIf="!selectedPlayer && players?.length > 0" class="my-placeholder">
            {{"Select a player" | translate}}...
        </span>
        <span *ngIf="selectedPlayer">
            <strong>{{ selectedPlayer.nickname }}</strong>
        </span>
        <span class="" [class.up]="showDropdown"></span>
        <span class="position-absolute" style="right: 1em">
            <i class="fa fa-caret-down" aria-hidden="true"></i>
        </span>
    </div>

    <!-- Dropdown -->
    <div class="dropdown" [class.visible]="showDropdown" (click)="$event.stopPropagation()">
        <!-- Search input -->
        <div class="search-wrapper d-flex">
            <input #searchInput type="text" [formControl]="searchCtrl" [placeholder]="'Search Player' | translate"
                class="search-input" />
            <span class="search-icon">🔍</span>
        </div>

        <!-- Player list -->
        <div class="player-list">
            <div *ngFor="let player of filteredPlayers" class="player-item" [class.selected]="player === selectedPlayer"
                (click)="selectPlayer(player, $event)">
                {{ player.nickname }}
            </div>
        </div>
    </div>
</div>