@use '../../../../style/variables.scss' as *;

nav {
    a {
        font-size: 1em;
        font-weight: 400;
        font-style: normal;
        vertical-align: middle;
    }
}
.dropdown-item, .dropdown-menu {
    cursor: pointer;
    background-color: $dark;
    color: white;
}
.dropdown-lang button {
    padding: 0 1em;
}