<div class="wrapper">
    <h2>
        {{ "starts_competition_title" | translate}}
    </h2>
    <p class="instructions mt-3 p-2">
        {{ "competition_choice" | translate }}
    </p>
    <section class="mt-3">
        <div class="d-flex justify-content-center align-items-center" style="gap: 1em;">
            <div class="">
                <button class="large-button">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <div>
                        {{ "create_competition" | translate }}
                    </div>
                    <p>
                        {{ "create_competition_info" | translate }}
                    </p>
                </button>
            </div>
            <div>
                <button class="large-button">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <div>
                        {{ "join_competition" | translate }}
                    </div>
                    <p>
                        {{ "join_competition_info" | translate }}
                    </p>
                </button>
            </div>
        </div>
    </section>
</div>