<ng-container *ngIf="activeCompetition$ | async as activeCompetition">
    <!-- Gestione self -->
    <ng-container *ngIf="activeCompetition.management == 'self'">
        <p class="mt-5">
            {{ "insert_players_init" | translate }}
        </p>
        <section class="init-button">
            <button class="large-button text-center">
                <i class="fa fa-share" aria-hidden="true"></i>
                <div>{{ "invitation_code" | translate }}</div>
                <p>{{ "invitation_code_info" | translate }}</p>
            </button>
            <button class="large-button text-center">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <div>{{ "send_invitation_by_email" | translate }}</div>
                <p>{{ "send_invitation_by_email_info" | translate }}</p>
            </button>
        </section>
    </ng-container>

    <!-- Gestione admin -->
    <ng-container *ngIf="activeCompetition.management == 'admin'">
        <div *ngIf="activeCompetition?.players?.length === 0" class="mt-3 p-1 text-center" role="alert">
            {{ "add_players_to_competition" | translate }}
        </div>

        <div class="container my-4 form-dark">
            <div class="row">
                <!-- Colonna sinistra: form -->
                <div class="col-md-6">
                    <form class="mt-4" [formGroup]="addPlayerForm">
                        <!-- Nome -->
                        <!-- <div class="mb-3">
                            <label for="nome" class="form-label">{{ 'first_name' | translate }}</label>
                            <input type="text" id="nome" class="form-control input-field" formControlName="name"
                                [placeholder]="'insert_name' | translate" />
                        </div> -->

                        <!-- Cognome -->
                        <!-- <div class="mb-3">
                            <label for="cognome" class="form-label">{{ 'last_name' | translate }}</label>
                            <input type="text" id="cognome" class="form-control input-field" formControlName="surname"
                                [placeholder]="'insert_last_name' | translate" />
                        </div> -->

                        <!-- Nickname -->
                        <div class="mb-3">
                            <label for="nickname" class="form-label">{{ 'nickname' | translate }}</label>
                            <input type="text" id="nickname" class="form-control input-field" formControlName="nickname"
                                [placeholder]="'insert_nickname' | translate" />
                        </div>

                        <div class="mb-3 position-relative">
                            <label for="email" class="form-label">{{ 'email' | translate }} 
                                <div class="info-input" title="{{ 'email_info' | translate }}">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                </div>
                            </label>
                            <input type="text" id="email" class="form-control input-field" formControlName="email"
                                style="padding-left: 1rem;" [placeholder]="'insert_email' | translate" />

                            <div>
                                <small *ngIf="addPlayerForm.invalid" class="text-danger">
                                    <div *ngIf="addPlayerForm.get('email')?.errors?.['email']">
                                        {{ 'email_invalid' | translate }}
                                    </div>
                                </small>
                            </div>
                        </div>

                        <!-- Upload immagine -->
                        <div class="mb-3">
                            <label for="immagine" class="form-label">{{ 'image' | translate }}</label>
                            <input type="file" id="immagine" class="form-control input-field"
                                (change)="onFileSelected($event)" />
                        </div>

                        <div class="button-container d-flex justify-content-center">
                            <button type="button" (click)="addPlayer()" style="width: 100%; text-align: center;"
                                [disabled]="addPlayerForm.invalid">
                                {{ "add_player" | translate }}
                            </button>
                        </div>
                    </form>
                </div>

                <!-- Colonna destra: utenti aggiunti -->
                <div class="col-md-6">
                    <h5 class="mb-3">{{ 'added_users' | translate }}</h5>
                    <ul class="list-group players-added" style="max-height: 375px; overflow-y: auto;">
                        <li *ngFor="let item of playersToAdd; let i = index"
                            class="field list-group-item d-flex align-items-center justify-content-between">
                            <span class="d-flex align-items-center">
                                <img [src]="item.previewUrl || '/default-player.jpg'" class="icon rounded-circle me-2"
                                    alt="player avatar" />
                                {{ item.name }} {{ item.surname }}
                            </span>
                            <small>{{ item.nickname }}</small>
                            <button class="btn btn-sm btn-danger" (click)="removePlayer(i)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </li>
                    </ul>

                    <div *ngIf="playersToAdd.length > 0" class="button-container mt-3">
                        <button type="button" class="secondary w-100 text-center" (click)="addPlayers()">
                            {{ 'add_players' | translate }}
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>