<p class="mt-5">
    {{ "insert_players_init" | translate }}
</p>
<section class="init-button">
    <button class="large-button text-center">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <div>
            {{ "invite" | translate }}
        </div>
        <p>
            {{ "invite_info" | translate }}
        </p>
    </button>
    <button class="large-button text-center">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <div>
            {{ "invitation_code" | translate }}
        </div>
        <p>
            {{ "invitation_code_info" | translate }}
        </p>
    </button>
</section>