@use "../../../style/variables.scss" as *;

.lang {
    all: unset;
    cursor: pointer;
    padding: 1em 2em 1em 2em;
}

#menu-button {
    cursor: pointer;
}

.buttons-container {
    height: 100%;
    &>* {
        padding: 0 2em;
    }
}

.button-navbar {
    border-radius: 0.0625em;
    font-size: 0.75em;

    i {
        margin-right: 0.25em;
    }

    cursor: pointer;
    height: $navbar-height;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    &:hover {
        opacity: 0.5;
    }

    transition: opacity 0.2s ease-out;
}

.dropdown-lang {
    position: absolute;
    right:  0;
    padding: 0!important;
    transform: scale(0.75);
    select {
        position: absolute;
    }

    button {
        background-color: $dark;
        color: white;
        border: none;
        transition: all 0.25 ease-in-out;

        &:hover {
            background-color: #374d87;
        }
    }

    a {
        font-size: 0.75em;
        width: 80%;
        font-weight: lighter;
        text-transform: capitalize;
    }
}

.curtain {
    border-radius: 0.625em;
    background-color: $dark;
    filter: drop-shadow(0em 0em 0.625em black);
    position: absolute;
    top: 4.6875em;
    right: 0;
    animation: open 0.2s ease-in-out forwards;

    ul {
        li {
            display: flex;
            justify-content: right;
            align-items: center;
            padding: 1em;
            text-align: center;

            a,
            i {
                margin-right: 0.5em;
            }

            &:hover {
                filter: brightness(0.8);
            }

            a {
                font-size: 0.75em;
            }

            &.clickable {
                cursor: pointer;
            }

            i.fa {
                font-size: 2em;
            }
        }
    }
}


@media screen and (min-width: 48em) {
    .curtain {
        display: none;
    }

}

@media screen and (max-width: 48em) {
    .buttons-container {
        height: 100%;

        &>* {
            padding: 0;
        }
    }
}

@keyframes open {
    from {
        opacity: 0;
        transform: translateY(-10%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }

}