<nav class="p-3">
    <div class="title"><a href="/#home-page">Pong Board <span></span></a></div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="dropdown-lang position-relative">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                <i class="fa fa-language"></i> {{ translateService.getLanguage() }}
            </button>
            <ul class="dropdown-menu">
                <li *ngFor="let language of translateService.languages">
                    <a class="dropdown-item" (click)="translateService.setLanguage(language.code)">
                        {{ language.label | translate }}
                    </a>
                </li>
            </ul>
        </div>

        <div *ngIf="auth.isLoggedIn()" class="p-3" id="menu-button">
            <i class="fa fa-bars " aria-hidden="true"></i>
        </div>
    </div>
</nav>