<ng-container *ngIf="userState$ | async">
  <ng-container [ngSwitch]="activeCompetition?.type">
    <app-elimination-bracket *ngSwitchCase="'elimination'" (matchRoundClicked)="onClickMatchRound($event)"
      [competition]="activeCompetition" [rounds]="eliminationRounds"></app-elimination-bracket>

    <app-group-knockout *ngSwitchCase="'group_knockout'" [competition]="activeCompetition" [groups]="groups"
      [qualifiedPlayers]="competitionQualifiedPlayers" [rounds]="eliminationRounds"
      (roundSelected)="onClickMatchRound($event)" [matches]="matches"
      (matchSelected)="setClickedMatch($event)"></app-group-knockout>

    <app-league-board *ngSwitchDefault [matches]="matches" [isLoading]="isLoadingMatches"
      (matchSelected)="setClickedMatch($event)">
    </app-league-board>
  </ng-container>

  <app-bottom-navbar class="bottom-navbar"></app-bottom-navbar>
</ng-container>


<app-modal [label]="'add_match'" *ngIf="modalService.isActiveModal(modalService.MODALS['ADD_MATCH'])"
  [modalName]="modalService.MODALS['ADD_MATCH']">
  <ng-container *ngIf="isGroupKnockoutMode; else standardMatchModal">
    <app-add-group-match-modal [isAlreadySelected]="!!player1Selected && !!player2Selected" [player1]="player1Selected"
      [player2]="player2Selected"></app-add-group-match-modal>
  </ng-container>
  <ng-template #standardMatchModal>
    <add-match-modal [isAlreadySelected]="!!player1Selected && !!player2Selected" [players]="modalPlayers"
      [groups]="groups" [player1]="player1Selected" [player2]="player2Selected"
      [roundOfMatch]="roundTypeOfMatch"></add-match-modal>
  </ng-template>
</app-modal>

<app-modal [label]="'match_details'" *ngIf="modalService.isActiveModal(modalService.MODALS['SHOW_MATCH'])"
  [modalName]="modalService.MODALS['SHOW_MATCH']">
  <app-show-match-modal [match]="clickedMatch"></app-show-match-modal>
</app-modal>

<app-modal [label]="'add_player'" *ngIf="modalService.isActiveModal(modalService.MODALS['ADD_PLAYER'])"
  [modalName]="modalService.MODALS['ADD_PLAYER']">
  <app-add-player-modal></app-add-player-modal>
</app-modal>

<app-modal [fullscreen]="true" [label]="'manual_points'"
  *ngIf="modalService.isActiveModal(modalService.MODALS['MANUAL_POINTS'])"
  [modalName]="modalService.MODALS['MANUAL_POINTS']" class="manual-points-modal">
  <app-manual-points [isAlreadySelected]="!!player1Selected && !!player2Selected" [players]="modalPlayers"
    [player1]="player1Selected" [player2]="player2Selected" [groups]="groups"
    [isGroupKnockout]="isGroupKnockoutMode" [roundOfMatch]="roundTypeOfMatch"></app-manual-points>
</app-modal>

<app-modal [label]="'set_date'" *ngIf="modalService.isActiveModal(modalService.MODALS['SET_DATE'])"
  [modalName]="modalService.MODALS['SET_DATE']">
  <app-set-match-date-modal [match]="clickedMatch"></app-set-match-date-modal>
</app-modal>
