@use "../../style/variables.scss" as *;
@media screen and (max-width: 62.5em) {
    .wrapper {
        margin-top: 4.6em;
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}