@use "../../style/variables.scss" as *;
@media screen and (max-width: 62.5em) {
    .wrapper {
        margin-top: 4.6em;
    }
}
.buttons-home-matches {
    p {
        color: rgb(141, 142, 142);
    }
}
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.league-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-top: 1em;
    margin-top: $navbar-height;
    padding-bottom: 5em
}