<div class="modal-content dettagli-partita">
    <p>{{ match?.desc || '' }}</p>
    <div class="data">{{ match?.data }}</div>
    <div class="match-container">
        <div class="player player-1">
            <div class="p-3">
                <img [src]="match?.giocatore1 + '.png'" [alt]="match?.giocatore1">
            </div>
            <div class="text-center">{{ match?.giocatore1 }}</div>
            <div class="score">{{ match?.p1 }}</div>
        </div>
        <div class="vs">
            <img src="/vs.svg" alt="VS">
        </div>
        <div class="player player-2">
            <div class="p-3">
                <img [src]="match?.giocatore2 + '.png'" [alt]="match?.giocatore2">
            </div>
            <div class="text-center">{{ match?.giocatore2 }}</div>
            <div class="score">{{ match?.p2 }}</div>
        </div>
    </div>
    <div class="other" *ngIf="match?.setsPoints?.length > 1">
        <h5 class="text-center">SETS</h5>
        <div class="sets-points">
            <div class="set" *ngFor="let set of match.setsPoints; let i = index">
                <div class="n-set">{{ i + 1 }}º set</div>
                <div><span [ngClass]="{ 'won': set[0] > set[1] }">{{ set[0] }}</span></div>
                <div class="separator">{{ set[0] == 20 || set[1] == 20 ? 'Ai vantaggi' : '-' }}</div>
                <div><span [ngClass]="{ 'won': set[1] > set[0] }">{{ set[1] }}</span></div>
            </div>
        </div>
    </div>
</div>