<main>
  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
</main>

<app-debug-overlay></app-debug-overlay>
<app-loader></app-loader>

<footer class="text-white py-4 mt-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 mb-3 mb-md-0">
        <a href="/landing" class="text-white text-decoration-none">
          {{ "footer_link" | translate }}
        </a>
      </div>
      <div class="col-md-6 text-md-end">
        <span>&copy; 2025 Pong Smash Board</span>
      </div>
    </div>
  </div>
</footer>