<div class="modal-content">
    <form class="form-dark" [formGroup]="matchForm" (ngSubmit)="addMatch()">

        <div>
            <label for="date" class="my-placeholder">{{ 'date' | translate }}</label>
            <input id="date" type="date" class="my-placeholder" formControlName="date" required>
        </div>

        <div class="row mt-3">
            <div class="col-md-6">
                <app-select-player [players]="getPlayers(1)" [playerNumber]="'1'" (playerSelected)="setPlayer($event)">
                </app-select-player>
            </div>

            <div class="col-md-6">
                <app-select-player [players]="getPlayers(2)" [playerNumber]="'2'" (playerSelected)="setPlayer($event)">
                </app-select-player>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-6">
                <input type="number" formControlName="p1Score" min="1" max="99" [placeholder]="'score1' | translate"
                    (input)="updateContainers()">
            </div>
            <div class="col-6">
                <input type="number" formControlName="p2Score" min="1" max="99" [placeholder]="'score2' | translate"
                    (input)="updateContainers()">
            </div>
        </div>

        <label class="d-flex mt-4 mb-3 justify-content-center">
            <span style="margin-right: 1em">{{"Add set points" | translate}}</span>
            <input type="checkbox" formControlName="isShowSetsPointsTrue" (change)="updateContainers()">
        </label>

        <div class="row" *ngIf="isShowSetsPointsTrue">
            <div class="wrapper-points">
                <div class="input-container-wrapper d-flex justify-content-center">
                    <div class="input-container" *ngFor="let set of setsPoints.controls; let i = index"
                        [formGroup]="getSetFormGroup(i)">
                        <input class="input-top" type="number" formControlName="player1Points" min="0" max="21">
                        <input class="input-bottom" type="number" formControlName="player2Points" min="0" max="21">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-buttons d-flex justify-content-between mt-3">
            <button type="button" class="button-close" (click)="closeModal()">
                {{"cancel" | translate}}
            </button>
            <button type="submit" [disabled]="!matchForm.valid">
                {{"add_match" | translate}}
            </button>
        </div>

    </form>
</div>