.my-modal {
    opacity: 0;
    animation: open 0.1s ease-out forwards;
}

@keyframes open {
    from {
        opacity: 0;
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.75);
        animation: 0.15s ease-in;

    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes openMobile {
    from {
        opacity: 0;
        opacity: 0;
        transform: scale(0.75);
        animation: 0.15s ease-in;

    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .my-modal:not(.small) {
        opacity: 0;
        animation: openMobile 0.1s ease-out forwards;
    }
}