@font-face {
  font-family: 'LarkenBlack';
  src: url('/fonts/Larken-Black.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'LarkenRegular';
  src: url('/fonts/Larken-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
