@use "variables" as *;

// Input Fields
input,
select,
.input-field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    margin-bottom: 1em;
    box-sizing: border-box;
    text-align: center;
    .my-placeholder {
        color: gray;
    }
}

.input-field {
    background-color: white;
    color: black;
}

.dropdown {
    position: absolute;
    opacity: 0;
    background-color: white;
    border-radius: $border-radius;
    visibility: hidden;
    color: black;
    text-align: center;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    border: 1px solid black;
    input {
        margin-bottom: 0;
    }

    .search-icon {
        position: absolute;
        right: 10px;
        top: 7px;
    }
    cursor: pointer;
    .player-item {
        padding: 5px;
        border-bottom: 1px solid #ccc;
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: #cccccc81;
        }
    }
}

input[type="tel"],
input[type="date"] {
    color: black;
    text-align: center;
}

select {
    font-weight: 700;
    color: black;
    text-align-last: center;
}

.my-modal input {
    max-width: 100%;
    width: 100%;
}

// Input Containers
.input-top,
.input-bottom {
    margin-bottom: 0;
    border-radius: 20px 20px 0 0;
}

.input-bottom {
    border-radius: 0 0 20px 20px;
    width: 10px;
}

#input-container-wrapper {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 0.5em;

    &::-webkit-scrollbar-thumb {
        background-color: $primary-ultra-light;
    }

    .input-container {
        min-width: 70px;
        max-width: 80px;
        margin: 0.1em;
        margin-right: 0.5em;
    }
}

input[type="checkbox"] {
    appearance: auto;
    margin: initial;
    padding: initial;
    border: none;
    width: auto;
    height: auto;
    cursor: pointer;
    width: 1.5em;

    &:checked {
        background-color: $primary !important;
        color: $primary-ultra-light;
    }
}

.dropdown.visible {
    visibility: visible;
    opacity: 1;
    transform: translateY(-12px);
}
@media screen and (max-width: 768px) {
    .input-field {
        overflow: hidden;
        white-space: nowrap;
    }
    .dropdown {
        width: 91%;
    }
}
.wrapper-points {
    .input-container {
        padding: 3px;
    }
}