.slider-container {
    position: relative;
    margin-top: 1em;
}

.slider-container--mobile {
    margin-top: 0.75em;
}

.slider-shell {
    left: 100%;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
    padding-left: 3em;
    padding-right: 3em;
    color: white;
    display: flex;
    align-items: center;
}

.slider-shell--mobile {
    overflow-x: auto;
    padding-left: 1em;
    padding-right: 1em;
}

.matches-slider {
    display: flex;
    cursor: grab;
    gap: 1em;
}

.matches-slider--mobile {
    cursor: auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 1em;
}

.matches-slider--mobile > * {
    scroll-snap-align: start;
}

.arrow {
    padding: 1em;
    width: 3.125em;
    height: 3.125em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    border-radius: 50%;
    filter: drop-shadow(0 0 0.625em #000000);
    cursor: pointer;
}

.arrow-container {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    height: 100%;
}

.arrow-left {
    left: 0.3125em;
}

.arrow-right {
    right: 0.3125em;
}

@media (max-width: 768px) {
    .slider-shell {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }

    .matches-slider {
        gap: 0.75em;
    }
}