// Global Styles
@use 'variables' as *;
@use 'animations' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    background-color: $bg;
    height: 100vh;
}

body {
    font-family: 'Parkinsans', 'Arial', sans-serif;
    background-color: $bg;
    color: $primary-ultra-light;
}

// Main Content
main {
    transition: all 0.5s ease-in-out, filter 0.2s ease-in-out;
}

#page-container {
    padding-top: 75px;
}

// Navigation
nav {
    height: 75px;
    background-color: $dark;
    color: white;
    font-size: 1em;
    font-weight: 500;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 102;
    padding-left: 1em;

    a {
        all: unset;
        cursor: pointer;
        font-size: 1.5em;
    }

    .logo {
        max-width: 75px;
    }

    .title {
        text-align: center;
        font-family: 'LarkenBlack', sans-serif;
        color: #f1f5f6;

        span {
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: var(--orange);
            border-radius: 10px;
        }
    }

    .fa {
        font-size: 1.5em;
    }
}

h2 {
    color: white;
    font-family: LarkenRegular;
    font-weight: 300;
    letter-spacing: -0.5px;
    font-family: LarkenRegular, sans-serif;
    font-weight: 100;
    text-align: center;
    font-size: 2em;
}

h3 {
    color: white;
    font-family: LarkenRegular;
    font-weight: 300;
    letter-spacing: -0.5px;
    font-family: LarkenRegular, sans-serif;
    font-weight: 100;
    text-align: center;
}

// Buttons
.button-container {
    max-width: 500px;
    margin: auto;
    padding: 1em;

    button {
        all: unset;
        cursor: pointer;
        border-radius: $border-radius;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        color: $primary-ultra-light;
        width: 100%;
        min-height: 50px;
        transition: transform 0.1s ease-in-out;

        &:hover {
            transform: scale(0.97);
        }
    }

}

.button-primary-ping {
    all: unset;
    cursor: pointer;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    color: $primary-ultra-light;
    width: 100%;
    min-height: 50px;
    transition: transform 0.1s ease-in-out;

    &:hover {
        transform: scale(0.97);
    }
}

.large-button {
    all: unset;
    cursor: pointer;
    border-radius: $border-radius;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.1s ease-in-out;
    filter: drop-shadow(0px 0px 10px #00000075);
    position: relative;
    overflow: hidden;
    background-color: #0b1e2a;
    text-align: center;

    &:hover {
        transform: scale(0.97);

        p {
            display: grid;
        }
    }

    p {
        padding: 1em;
        place-items: center;
        text-align: center;
        position: absolute;
        top: 0%;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 0.7em;
        margin-bottom: 0;
        display: none;
        background-color: #0b1e2a;
    }

    div {
        font-weight: 900;
        margin: 1em;
    }

    i {
        font-size: 2em;
    }
}

// Sections
section {
    margin-bottom: 2em;
    padding: 0 1em;
}

.description {
    color: rgb(97, 99, 109);
}

// Scrollbar Styling
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #ffffff31;
    border-radius: 5px;

    &:hover {
        background: $primary;
        cursor: s-resize;
    }
}


.wrapper-points {
    min-height: 102px;
}

[data-toggle] {
    cursor: cell;
}

@media screen and (min-width: 1000px) {
    nav {
        height: $navbar-height;
    }

    #page-container {
        padding-top: 100px;
    }
}

.avatar {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    object-fit: cover;
}

.my-modal {
    display: block;
    position: fixed;
    top: calc(50% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    background: $gradient-reverse;
    color: white; // Ensure text is visible on black background
    border-radius: $border-radius;
    box-shadow: 0 0 25px black;
    padding: 1em;
    width: 90vw;
    max-width: 700px;
    max-height: 85vh;
    overflow: auto;

    .modal-content {
        position: static;
        padding-top: 2em;
    }

    h2 {
        margin-top: 1em;
        margin-bottom: 2em;
        font-family: LarkenRegular;
        font-size: 1.6em;
        text-align: left;
        position: absolute;
        top: 0;
    }

    h5 {
        margin: 1em 0em 2em
    }

    button {
        all: unset;
        padding: 0.5em 1em;
        border-radius: $border-radius;
        cursor: pointer;
        overflow: hidden;

        &.close {
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $contrast;
            color: var(--dark);
            position: sticky;
            top: 0;
            left: 100%;
            transition: all 0.1s ease-in-out;
            filter: drop-shadow(0px 0px 10px #282828);
            z-index: 10;

            &:hover {
                transform: scale(0.95);
                opacity: 0.9;
                /* Slight hover animation */
            }
        }

        &.button-close {
            background-color: $contrast !important;
            color: var(--dark);
        }

        &[type="submit"],
        &[type="button"] {
            background-color: var(--primary);
            color: white;

            &:disabled {
                opacity: 0.5;
            }
        }

    }

    &.small {
        width: auto;
        height: auto;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--primary-ultra-light);
    }

    &::-webkit-scrollbar-track {
        background: var(--dark);
    }
}

button.no-style {
    all: unset;
    cursor: pointer;
}

.bg-contrast {
    background-color: $contrast !important;
}

app-add-competition-modal {
    height: 100%;
}

button.secondary-color-button {
    background-color: $secondary;
}

.icon {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.secondary {
    background-color: $secondary!important;
}

@media screen and (max-width: 600px) {
    .my-modal:not(.small) {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        max-width: 99vw;
        margin: auto;
        height: 75dvh;
        max-height: 75dvh;
    }

}