// Variables
$dark: #05131c;
$primary: #374d87;
$primary-light: #6e96ff;
$primary-ultra-light: #cbd1e1;
$contrast: #c76360;
$secondary: #e19945;
$light: #f2c373;
$border-radius: 30px;
$green: #568566;
$orange: #ffa10b;
$gradient: linear-gradient(180deg, #000000 10%, #05131c 90%);
$gradient-reverse: linear-gradient(180deg, $dark 10%, black 90%);
$border-radius : 30px;

:root {
  --dark: #05131c;
  --primary: #374d87;
  --primary-light: #6e96ff;
  --primary-ultra-light: #cbd1e1;
  --contrast: #c76360;
  --secondary: #e19945;
  --light: #f2c373;
  --border-radius: 30px;
  --green: #4e9f6b;
  --orange: #ffa10b;
  --gradient: linear-gradient(180deg, black 10%, #05131c 90%);
  --gradient-reverse: linear-gradient(180deg, #05131c 10%, black 90%);
  --border-radius : 30px;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }

  50% {
    transform: translateX(-50%) translateY(-50px);
  }
}