<div class="monthly-win-rates my-card" *ngIf="hasData">
  <div class="card-header">
    <h3>{{ 'monthly_win_rates' | translate }}</h3>
    <small class="subtitle">{{ 'monthly_win_rates_description' | translate }}</small>
  </div>
  <div class="chart-container">
    <apx-chart
      [series]="chartOptions.series!"
      [chart]="chartOptions.chart!"
      [xaxis]="chartOptions.xaxis!"
      [yaxis]="chartOptions.yaxis!"
      [stroke]="chartOptions.stroke!"
      [colors]="chartOptions.colors!"
      [dataLabels]="chartOptions.dataLabels!"
      [grid]="chartOptions.grid!"
      [markers]="chartOptions.markers!"
      [tooltip]="chartOptions.tooltip!">
    </apx-chart>
  </div>
</div>
