<div class="elo-chart-container" *ngIf="hasData">
  <div class="header">
    <h3>ELO Rating</h3>
    <p>Andamento ELO partita per partita ·
      <span *ngFor="let p of players; let last = last">
        {{ p.nickname | uppercase }}<span *ngIf="!last"> vs </span>
      </span>
    </p>
  </div>

  <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [yaxis]="chartOptions.yaxis!"
    [stroke]="chartOptions.stroke!"
    [colors]="chartOptions.colors!"
    [dataLabels]="chartOptions.dataLabels!"
    [grid]="chartOptions.grid!"
    [tooltip]="chartOptions.tooltip!"
    [markers]="chartOptions.markers!"
  ></apx-chart>

  <div class="summary-cards">
    <div class="card" *ngFor="let p of players; let i = index">
      <div class="player-name">{{ p.nickname | uppercase }}</div>
      <div class="rating" [class]="'color-' + i">{{ p.rating }}</div>
      <div class="label">ELO attuale</div>
    </div>
  </div>
</div>
<div class="elo-chart-container" *ngIf="!hasData">
    <div class="header">
      <h3>ELO Rating</h3>
      <p>Dati non sufficienti per mostrare il grafico ELO.</p>
    </div>
</div>
