<div class="competition-detail">
  <!-- Competizione attiva -->
  <div>
    <div class="info">
      <div>
        {{ "best_of" | translate }}
      </div>
      <div class="value">
        {{ competition?.['sets_type'] }}
      </div>
      <div>
        {{ "points_number" | translate }}
      </div>
      <div class="value">
        {{ competition?.['points_type'] }}
      </div>
    </div>
  </div>
  <!-- Giocatori -->
  <div>
    <div class="top">
      <div>
        <span class="d-block m-1"> {{ "name" | translate }}: </span>
        <h2>{{ competition?.name }}</h2>
      </div>
    </div>
    <div class="mt-5">
      <span>{{ "type" | translate }}: </span>
      <span class="value">{{ competition?.type }}

      </span>
    </div>

    <div class="players-container mt-5 d-flex justify-content-between align-items-center">
      <div class="competition-players-container">
        <div class="players" *ngFor="let c of competition?.['players']">
          <img [src]="'a'" alt="avatar" />
        </div>
        <div class="p-2" *ngIf="isEmpty(competition?.['players'])">
          {{ "no_players" | translate }}
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <div>
        <div style="margin: 0px 10px; min-width: 150px">
          <button class="button-primary-ping" (click)="modalService.openModal(modalService.MODALS['ADD_PLAYERS'])">
            {{ "add_players" | translate }}
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</div>