@use "../../../../style/variables.scss" as *;

.competition-detail {
  padding: 3em;
  border-radius: $border-radius;
  filter: drop-shadow(10px 10px solid black);
  position: relative;
  max-width: 600px;
  margin: auto;
  background: $dark;
  filter: drop-shadow(0px 0px 10px black);
}

.top {
  h2 {
    text-align: left;
  }
}

.info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  place-items: center;
  width: 100%;
  font-weight: 100;
  opacity: 0.9;
  color: rgba(236, 236, 236, 0.806);
  margin-top: .5em;

  .value {
    margin-left: 0.25em;
    margin-right: 1em;
    color: $primary;
    font-weight: bold;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
  margin-bottom: 1em;

  h1 {
    font-size: 2em;
    margin: 0;
  }
}

.competition-players-container {
  display: flex;

  .players {}
}

.players-container {
  padding: 1em 0;
  border-radius: $border-radius;
}

.code {
  color: $secondary;
  font-weight: bold;
  font-size: 1.2em;
}

.invitation-code-container {
  font-size: 0.7em;
  background-color: black;
  filter: drop-shadow(0px 0px 5px $secondary);
  border-radius: $border-radius;
  text-align: center;
  padding: 1em;
  width: 150px;

  .value {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}