@use '../../../style/variables.scss' as *;

.step-indicator {
    max-width: 100px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    .circle {
        border-radius: 100%;
        background-color: transparent;
        border: 2px solid white;
        width: 1em;
        height: 1em;
        transition: all 0.5s ease-in-out;

    }

    .line {
        min-width: 50px;
        border: 1px solid white;
        &.completed {
            border-color: $primary-light;
            transition: all 0.5s ease-in-out;
        }
    }

    .circle.active {
        background-color: white;
    }

    .circle.completed {
        background-color: $primary-light;
        border-color: $primary-light;
    }
}