<div class="step-indicator-header text-center mb-3">
    <span style="opacity: 0.3; font-size: 0.9rem; ">
        {{ activeStep }} {{ 'step' | translate }} {{ 'of' | translate }} {{ totalSteps }}
    </span>
</div>
<div class="step-indicator d-flex justify-content-center align-items-center">
    <ng-container *ngFor="let _ of [].constructor(totalSteps); let idx = index">

        <!-- stepIndex parte da 1 -->
        <div class="step">
            <div class="circle" [class.active]="activeStep === idx + 1" [class.completed]="activeStep > idx + 1">
                <span *ngIf="activeStep <= idx + 1"></span>
            </div>
        </div>
        <!-- Linea -->
        <div *ngIf="idx < totalSteps - 1" class="line" [class.completed]="activeStep > idx + 1"></div>
    </ng-container>
</div>