<div *ngIf="!activeModal">
    <div class="bottom-navbar">
        <div class="bottom-navbar-item">
            <a routerLink="/home-page" routerLinkActive="active">
                <i class="fa-solid fa-home"></i>
            </a>
        </div>
        <div class="bottom-navbar-item">
            <a routerLink="/competitions" routerLinkActive="active">
                <i class="fa-solid fa-users"></i>
            </a>
        </div>
        <div class="bottom-navbar-item">
            <a routerLink="/elo" routerLinkActive="active" title="ELO Ranking">
                <i class="fa-solid fa-bolt"></i>
            </a>
        </div>
        <div class="bottom-navbar-item">
            <a routerLink="/profile" routerLinkActive="active">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
    </div>
</div>