@use "style/variables";
@use "style/style";
@use "style/fonts";
@use "style/utility";
@use "style/forms";
@use "style/landing";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'style/skeleton';

* {
    box-sizing: border-box;
}

[href] {
    all: unset;
    color: white;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
    }
}
@media (max-width: 300px) {
    body {
        font-size: 0.75em;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 1.2em;
    }
}