@use "style/variables.scss";
@use "style/style.scss";
@use "style/fonts.scss";
@use "style/utility.scss";
@use "style/forms.scss";
@use "style/landing.scss";
@import 'swiper/css';
@import 'swiper/css/navigation';

* {
    box-sizing: border-box;
}

[href] {
    all: unset;
    color: white;
}

@media (max-width: 600px) {
    body {
        font-size: 0.9em;
    }
}
@media (max-width: 300px) {
    body {
        font-size: 0.75em;
    }
}

@media (min-width: 1400px) {
    body {
        font-size: 1.2em;
    }
}