<app-navbar></app-navbar>
<div class="wrapper">
    <p *ngIf="matches?.length === 0" class="mt-4 text-center">
        {{ "matches_not_found" | translate }}
    </p>
    <section style="padding: 0;">
        <app-matches *ngIf="matches?.length > 0" [matches]="matches"
            (matchEmitter)="setClickedMatch($event)">
        </app-matches>
        <div class="add-button-container">
            <button (click)="modalService.openModal(modalService.MODALS['ADD_MATCH'])" class="add-match">
                {{ "add_match" | translate}} 
                <span class="m-1"></span> 
                <i class="fa-solid fa-plus"></i>
            </button>
        </div>
    </section>
    <section>
        <app-stats *ngIf="matches?.length > 0"></app-stats>
    </section>
</div>
<app-modal [label]="'add_match'" *ngIf="modalService.isActiveModal(modalService.MODALS['ADD_MATCH'])">
    <app-add-match-modal></app-add-match-modal>
</app-modal>
<app-modal [label]="'match_details'" *ngIf="modalService.isActiveModal(modalService.MODALS['SHOW_MATCH'])">
    <app-show-match-modal [match]="clickedMatch"></app-show-match-modal>
</app-modal>
<app-bottom-navbar class="bottom-navbar"></app-bottom-navbar>