<section class="my-card board" aria-labelledby="group-knockout-board-title">
  <header class="board__header">
    <h2 id="group-knockout-board-title" class="board__title">
      {{ 'group_knockout_board_title' | translate }}
    </h2>
    <span class="board__count" *ngIf="totalPlayers">{{ totalPlayers }} {{ 'players' | translate }}</span>
  </header>

  <ng-container *ngIf="groups?.length; else emptyState">
    <div *ngFor="let group of groups; trackBy: trackByGroup">
      <h3 class="board__group-title">
        {{ group.name }}
      </h3>
      <div class="board__table">
        <div class="board__table-header">
          <span class="board__th">{{ 'group_knockout_board_player' | translate }}</span>
          <span class="board__th">{{ 'group_knockout_board_wins' | translate }}</span>
          <span class="board__th">{{ 'group_knockout_board_losses' | translate }}</span>
          <span class="board__th">{{ 'group_knockout_board_points_for' | translate }}</span>
          <span class="board__th">{{ 'group_knockout_board_points' | translate }}</span>
        </div>
        <div class="board__table-row" *ngFor="let player of getPlayers(group); let i = index; trackBy: trackByPlayer"
          [ngClass]="{ 'board__table-row--qualified': isQualified(player, i) }">
          <div class="board__td board__player-info">
            <span class="board__position">{{ player.ranking || player.rank || player.position || (i + 1) }}</span>
            <div class="board__avatar" *ngIf="player.imageUrl; else initials">
              <img [src]="player.imageUrl" [alt]="player.nickname || player.name" loading="lazy" />
            </div>
            <ng-template #initials>
              <span class="board__avatar board__avatar--initials">{{ getInitials(player) }}</span>
            </ng-template>
            <div class="board__info">
              <span class="board__name">{{ player.nickname || player.name }}</span>
              <span class="board__meta" *ngIf="player.nickname && player.name">
                {{ player.name }} <ng-container *ngIf="player.surname">{{ player.surname }}</ng-container>
              </span>
            </div>
          </div>
          <div class="board__td">{{ player.wins || 0 }}</div>
          <div class="board__td">{{ player.losses || 0 }}</div>
          <div class="board__td">{{ player.points || 0 }}</div>
          <div class="board__td">{{ player.scoreDifference ?? 0 }}</div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #emptyState>
    <p class="board__empty">{{ 'group_knockout_board_empty' | translate }}</p>
  </ng-template>
</section>
