<div class="wrapper mt-0">
  <div class="group-knockout-wrapper pt-5">
    <section class="board-section">
      <app-group-knockout-board [groups]="groups"></app-group-knockout-board>
    </section>

    <section class="elimination-section">
      <div class="elimination-section__header">
        <h2 class="elimination-section__title">{{ 'group_knockout_finals_title' | translate }}</h2>
        <button *ngIf="!readonly" type="button" class="elimination-section__button"
          (click)="generateKnockouts()" [disabled]="!canGenerateKnockouts || isLoading">
          <ng-container *ngIf="!isLoading; else loadingState">
            {{ 'generate_knockouts' | translate }}
          </ng-container>
        </button>
      </div>

      <p *ngIf="showGenerateHint" class="elimination-section__hint">{{ 'complete_groups_to_unlock' | translate }}</p>

      <ng-container *ngIf="hasRounds; else eliminationEmpty">
        <app-elimination-bracket [competition]="competition" [rounds]="rounds" [readonly]="readonly"
          (matchRoundClicked)="onRoundSelected($event)"></app-elimination-bracket>
      </ng-container>
    </section>
  </div>

  <ng-template #loadingState>
    <span class="elimination-section__loading">
      <span class="elimination-section__spinner" aria-hidden="true"></span>
      <span>{{ 'generating_knockouts' | translate }}</span>
    </span>
  </ng-template>

  <ng-template #eliminationEmpty>
    <p class="no-qualified text-center mt-3">{{ 'group_knockout_finals_empty' | translate }}</p>
  </ng-template>
</div>