<div class="group-knockout-wrapper">
  <div class="league-wrapper">
    <p *ngIf="matches.length === 0" class="mt-4 text-center">
      {{ 'matches_not_found' | translate }}
    </p>
    <section style="padding: 0;">
      <app-matches *ngIf="matches.length > 0" [matches]="matches" (matchEmitter)="onMatchSelected($event)">
      </app-matches>
      <div class="buttons-home-matches">
        <div class="button-container mt-3">
          <button type="button" (click)="modalService.openModal(modalService.MODALS['ADD_MATCH'])" class="add-match">
            {{ 'add_match' | translate }}
            <span class="m-1"></span>
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
          </button>
          <p class="small text-center mt-3">
            {{ 'add_match_description' | translate }}
          </p>
        </div>
        <div class="button-container">
          <div>
            <button type="button" class="bg-secondary position-relative"
              (click)="modalService.openModal(modalService.MODALS['MANUAL_POINTS'])">
              {{ 'add_manual_set_points' | translate }}
              <div class="circle-live"></div>
            </button>
          </div>
          <p class="small text-center mt-3">
            {{ 'add_manual_set_points_description' | translate }}
          </p>
        </div>
      </div>
    </section>
    <section>
      <app-stats *ngIf="matches.length > 0"></app-stats>
    </section>
  </div>
  <div class="wrapper" *ngIf="players.length >= 2">
    <app-elimination-bracket [competition]="competition" [rounds]="rounds"
      (playersSelected)="onRoundSelected($event)"></app-elimination-bracket>
  </div>
</div>
